src/main/resources/employee.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="testapp/employee/webservice/model/employee"
           targetNamespace="testapp/employee/webservice/model/employee">

    <xs:element name="getEmployeesRequest">
        <xs:complexType>
        </xs:complexType>
    </xs:element>

    <xs:element name="getEmployeesResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="employee" type="tns:employee" maxOccurs="unbounded" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getEmployeesByDepartmentRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="departmentId" type="xs:int"  maxOccurs="1" minOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getEmployeesByDepartmentResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="employee" type="tns:employee" maxOccurs="unbounded" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="addEmployeeRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="employee" type="tns:employee" minOccurs="1" maxOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="addEmployeeResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="newId" type="xs:int" minOccurs="1" maxOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="updateEmployeeRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="employee" type="tns:employee" minOccurs="1" maxOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="updateEmployeeResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="employee" type="tns:employee" minOccurs="1" maxOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="removeEmployeeRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="employeeId" type="xs:int" minOccurs="1" maxOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="removeEmployeeResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="removed" type="xs:boolean" minOccurs="1" maxOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="setEmployeeDepartmentRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="employeeId" type="xs:int" minOccurs="1" maxOccurs="1"/>
                <xs:element name="department" type="tns:department" minOccurs="1" maxOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="setEmployeeDepartmentResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="employee" type="tns:employee" minOccurs="1" maxOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="removeEmployeeDepartmentRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="employeeId" type="xs:int" minOccurs="1" maxOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="removeEmployeeDepartmentResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="employee" type="tns:employee" minOccurs="1" maxOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="employee">
        <xs:sequence>
            <xs:element type="xs:int" name="id" minOccurs="1"/>
            <xs:element type="xs:string" name="firstname" minOccurs="1"/>
            <xs:element type="xs:string" name="lastname" minOccurs="1"/>
            <xs:element type="xs:string" name="phone" minOccurs="1"/>
            <xs:element type="tns:department" name="department" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="department">
        <xs:sequence>
            <xs:element type="xs:int" name="id" minOccurs="1"/>
            <xs:element type="xs:string" name="name" minOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>
